body {
    margin: 0;
	  height: 100vh;
    background-color: rgb(54, 54, 54);
    background-image: url("images/background2.svg"); 
    background-repeat:repeat-vertical;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



/* Navigation Bar*/
.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #0D0A1c;
  height: 10vh;
  position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   color: white;
   text-align: center;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: center;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #b1d1cc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #b1d1cc;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


/*Footer*/
footer{
	background-color: #0D0A1c;
	
   left: 0;
   bottom: 0;
   height: 7vh;
   width: 100%;
   color: white;
   text-align: center;
}
/* Other Styles*/
h1	{
	color: #e1e3e1;
	text-align: center;
}

h2	{
	color: #e1e3e1;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif*/
    text-align: center;
}

h3	{
	color: #e1e3e1;
	text-align: center;
  font-size: 12pt;
}

p    {
	color: #e1e3e1;

}


/*About Button*/
div.about_button{
  display: block;
	height:16vh;
  width: 63vw;
  margin: 2vw auto 0px auto;
  transform: skewY(-7deg);
  line-height: 16vh;
  font-size: 10vh;


  border: none;
  background-color: #135EB9;
  color: #e1e3e1;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  margin-top: 10vw;
}

div.about_button:hover{
  background-color: #0D0A1c;
  color: #b1d1cc;
}

div.about_button:active{
  width: 63vw;
}

/*2nd Button*/
div.resume_button{
  display: block;
	height:16vh;
  width: 63vw;
  margin: 2vw auto 0px auto;
  transform: skewY(-7deg);
  line-height: 16vh;
  font-size: 10vh;


  border: none;
  background-color: #145C42;
  color: #e1e3e1;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}

div.resume_button:hover{
  background-color: #0D0A1c;
  color: #b1d1cc;
}

div.resume_button:active{
  width: 63vw;
}

/*3nd Button*/
div.projects_button{
  display: block;
	height:16vh;
  width: 63vw;
  margin: 2vw auto 0px auto;
  transform: skewY(-7deg);
  line-height: 16vh;
  font-size: 10vh;


  border: none;
  background-color: #a05228;
  color: #e1e3e1;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}

div.projects_button:hover{
  background-color: #0D0A1c;
  color: #b1d1cc;
}

div.projects_button:active{
  width: 63vw;
}

/*4nd Button*/
div.contact_button{
  display: block;
	height:16vh;
  width: 63vw;
  margin: 2vw auto 0px auto;
  margin-bottom: 10vw;
  transform: skewY(-7deg);
  line-height: 16vh;
  font-size: 10vh;


  border: none;
  background-color: #323979;
  color: #e1e3e1;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}

div.contact_button:hover{
  background-color: #0D0A1c;
  color: #b1d1cc;
}


div.contact_button:active{
  width: 63vw;
}